{
  "employees": [
    {
      "id": "sz285ilr3x",
      "name": "Aulya",
      "position": "JS Developer"
    },
    {
      "id": "7ytlzdrer8",
      "name": "Faldi",
      "position": "Senior Developer"
    },
    {
      "id": "60eboyybvq",
      "name": "Taufiq",
      "position": "Manager"
    },
    {
      "id": "zrlem7fir3",
      "name": "Ariel",
      "position": "Senior DevOps Engineer"
    }
  ]
}