.btn-add-record {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn-container {
  padding: 16px 0px;
}

.data-container {
  margin-top: 20px;
}

.table-container {
  margin-top: 20px;
  table-layout: fixed;
}

.table-container th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
}

.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
}
